<a href="https://colab.research.google.com/github/dhiren11lab/DATA-MINING/blob/main/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Encoding

In [ ]:
col_data ={'color' : ['Red', 'Green', 'Blue','Yellow', 'Black', 'White']}
df_col = pd.DataFrame(col_data)

Perform One-Hot Encoding

In [ ]:
one_hot_encoded = pd.get_dummies(df_col['color'],prefix='color')

In [ ]:
one_hot_encoded = one_hot_encoded.astype(int)

In [ ]:
print(one_hot_encoded)

   color_Black  color_Blue  color_Green  color_Red  color_White  color_Yellow
0            0           0            0          1            0             0
1            0           0            1          0            0             0
2            0           1            0          0            0             0
3            0           0            0          0            0             1
4            1           0            0          0            0             0
5            0           0            0          0            1             0

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()

In [ ]:
df_col['Color_Label'] = label_encoder.fit_transform(df_col['color'])

In [ ]:
df_col['Color_Label']

0    3
1    2
2    1
3    5
4    0
5    4
Name: Color_Label, dtype: int64

In [ ]:
df_col['color']

0       Red
1     Green
2      Blue
3    Yellow
4     Black
5     White
Name: color, dtype: object