<a href="https://colab.research.google.com/github/dhiren11lab/DATA-MINING/blob/main/Lab_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [16]:
#Example Data
data={'Category':['A','B','C','A','B']}
df=pd.DataFrame(data)

In [17]:
print(df)

  Category
0        A
1        B
2        C
3        A
4        B

In [18]:
#Label Encoding
label_encoder=LabelEncoder()
df['Label_Encoded']=label_encoder.fit_transform(df['Category'])

In [19]:
print(df)

  Category  Label_Encoded
0        A              0
1        B              1
2        C              2
3        A              0
4        B              1

In [20]:
#One-hot Encoding
one_hot_encoded=pd.get_dummies(df['Category'],prefix='Category')
df=pd.concat([df,one_hot_encoded],axis=1)

In [21]:
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [22]:
from datetime import datetime

In [27]:
#example data
data={'Name':['Alice','Bob'],'DateOfBirth':['1990-05-15','1985-08-23']}
df=pd.DataFrame(data)

In [28]:
print(df)

    Name DateOfBirth
0  Alice  1990-05-15
1    Bob  1985-08-23

In [30]:
#Convert Data_of_Birth to datetime
df['DateOfBirth']=pd.to_datetime(df['DateOfBirth'])

In [31]:
print(df)

    Name DateOfBirth
0  Alice  1990-05-15
1    Bob  1985-08-23

In [32]:
#calculate Age
current_year=datetime.now().year
df['Age']=current_year-df['DateOfBirth'].dt.year

In [33]:
print(df)

    Name DateOfBirth  Age
0  Alice  1990-05-15   35
1    Bob  1985-08-23   40

In [34]:
#example data
data={'Category':['A','A','B','B','C'],
      'Value':[10,20,10,30,40]}
df=pd.DataFrame(data)

In [38]:
#Group by and aggregate
grouped=df.groupby('Category').agg({'Value': ['sum','mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [39]:
#Pivot table
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum', 'mean'])
print("Pivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0